
legend {
    margin-bottom: ($space / 2);
}

// Hide input type number spinner
// http://goo.gl/lcCQgB
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-input {
    padding: 6px 8px;
    border: solid 1px #ccc;
    border-radius: 2px;
    font-family: inherit;
    background: #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

    &:focus {
        border-color: #333;
        outline: none;
    }

    &[disabled] {
        color: #A8A8A8;
        cursor: not-allowed;

        // Fix iOS color for being too opaque
        // https://github.com/ImBobby/suit-baze/issues/98
        -webkit-text-fill-color: #A8A8A8;
    }

    @at-root select#{&} {
        background: url(../img/select-arrow.png) center right 12px no-repeat;
        background-size: 10px;
        appearance: none;
    }
}

.form-input--error {
    border-color: #d32c31;

    &:focus {
        border-color: #d32c31;
    }
}

.form-input--success {
    border-color: #4eb74a;

    &:focus {
        border-color: #4eb74a;
    }
}

.form-input--block {
    width: 100%;
}
