
.table {

    thead {
        color: #fff;
        background: #444;
    }

    tbody {

        tr:nth-child(even) {
            background: rgba(#eee, .3);
        }
    }

    th,
    td {
        padding: 8px;
        border: solid 1px #ddd;
        font-size: 90%;
    }
}

.table-wrapper {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    @media #{$large} {
        overflow: visible;
    }
}
