/*--------------------------------*\

    Responsive Table
    structure:
 
    table
    -thead
    --tr
    ---th
    -tbody
    --tr
    ---td

    Available modifier:
    * table--responsive
    * table--zebra
    * table--compact

\*--------------------------------*/

/* Base style
--------------------------------------------------------------------------- */

$table_cell_padding         : .4em;
$table_cell_padding_compact : .2em .4em;

$table_background           : lighten($black20, 7%);
$table_border               : #c6c6c6;
$table_zebra                : lighten($black20, 3%);
$table_thead_background     : $black20;

$table_border_prop          : "solid 1px " + $table-border;

/*table*/.table {
    background: $table_background;
    text-align: left;

    thead {
        background: $table_thead_background;

        tr {
            border-top: unquote($table_border_prop);
        }
    }

    tr {
        border-bottom: unquote($table_border_prop);
    }

    th,
    td {
        border-right: unquote($table_border_prop);
        padding: $table_cell_padding;

        &:first-child {
            border-left: unquote($table_border_prop);
        }
    }
}

.table--responsive {
    @extend .clearfix;
    
    display: block;
    position: relative;

    @media #{$tablet} {
        display: table;
    }

    thead {
        border-left: unquote($table_border_prop);
        display: block;
        float: left;

        @media #{$tablet} {
            border-left: none;
            display: table-header-group;
            float: none;
        }

        tr {
            display: block;

            @media #{$tablet} {
                display: table-row;
            }
        }
    }

    tbody {
        display: block;
        overflow-x: auto;
        position: relative;
        white-space: nowrap;
        width: auto;
        
        @media #{$tablet} {
            display: table-row-group;
            white-space: normal;
        }

        tr {
            border-top: unquote($table_border_prop);
            display: inline-block;
            margin-left: -4px;

            @media #{$tablet} {
                border-top: none;
                display: table-row;
            }
        }
    }

    th,
    td {
        display: block;

        &:first-child {
            border-left: none;

            @media #{$tablet} {
                border-left: unquote($table_border_prop);
            }
        }

        @media #{$tablet} {
            display: table-cell;
        }
    }

    th + th,
    td + td {
        border-top: unquote($table_border_prop);

        @media #{$tablet} {
            border-top: none;
        }
    }
}

.table--zebra {
    tbody {
        tr:nth-child(2n) {
            background: $table-zebra;
        }
    }
}

.table--compact {
    th,
    td {
        padding: $table-cell-padding-compact;
    }
}