.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:active,
    &.focusable:focus{
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.invisible {
    visibility: hidden;
}

.clearfix {
    *zoom: 1;

    &:before,
    &:after{
        content: '';
        display: table;
    }

    &:after{
        clear: both;
    }
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.list-inline > li{
    display: inline-block;
}

.lt-ie8 .list-inline > li{
    display: inline;
}