/*******************************************************************************

    Title :  
    Date  :  January 2014
    Author:  Suitmedia (http://www.suitmedia.com)

********************************************************************************

	1. Font-face
	2. Basic styles
	3. Header
	4. Page styles
	5. Footer

*******************************************************************************/

@import "partial/_normalize";
@import "partial/_variables";
@import "partial/_resets";
@import "partial/_helpers";
@import "partial/_print";

@import "mixin/_mixin";
@import "modules/_modules";
@import "plugin/_plugin";

/* 1 Font-face
------------------------------------------------------------------------------*/



/* 2 Basic styles
------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
	color: $black90;
}

a {
	color: $link;
	text-decoration: none;

	&:hover{
		color: $link_hover;
	}

    &:focus,
    &:active {
        background: $link_hover;
        color: white;
    }
}

label, 
input, 
button, 
select, 
textarea {
    font-family: $base_font_family;
}

/* 3 Header
------------------------------------------------------------------------------*/


/* 4 Page styles
------------------------------------------------------------------------------*/


/* 5 Footer
------------------------------------------------------------------------------*/





































